HyUtility/.vs
HyUtility/HyUtility/bin
HyUtility/HyUtility/obj
DesignPattern/.vs
DesignPattern/CompositePattern/bin
DesignPattern/CompositePattern/obj
DesignPattern/ObserverPattern/bin
DesignPattern/ObserverPattern/obj
DesignPattern/Singleton/bin
DesignPattern/Singleton/obj
DesignPattern/StrategyPattern/bin
DesignPattern/StrategyPattern/obj
DesignPattern/TestPattern/bin
DesignPattern/TestPattern/obj
SP_SuperSocket_Order_Service/SP_SuperSocket_Order_Service/bin
SP_SuperSocket_Order_Service/SP_SuperSocket_Order_Service/obj
SP_SuperSocket_Order_Service/SP_WebSocket_Client/bin
SP_SuperSocket_Order_Service/SP_WebSocket_Client/bin
Usage_DLL_Price/Usage_DLL_PriceForm/bin
Usage_DLL_Price/Usage_DLL_PriceForm/bin