<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets  async="true">
    <target name="TraceFlie" xsi:type="File"
            fileName="${basedir}/Log/NPC_SendPrice.txt"
            archiveFileName="${basedir}/BackupLog/NPC_SendPrice_{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Date"
            maxArchiveFiles="48"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8"
            layout = "${longdate} ${message}"/>
    <target name="DebugFlie" xsi:type="File"
            fileName="${basedir}/Log/NPC_ReceiveMessage.txt"
            archiveFileName="${basedir}/BackupLog/NPC_ReceiveMessage_{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Date"
            maxArchiveFiles="48"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8"
            layout = "${longdate} ${message}"/>

    <target name="InfoFile" xsi:type="File"
            fileName="${basedir}/Log/NPCInfo_${shortdate}.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>
    <target name="ErrorFile" xsi:type="File"
            fileName="${basedir}/Log/NPCError_${shortdate}.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>

    <target name="Email" xsi:type="Mail"
            smtpServer="smtp.qq.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="992097336@qq.com"
            smtpPassword="NF123456"
            enableSsl="true"
            addNewLines="true"
            from="992097336@qq.com"
            to="313215124@qq.com"
            subject="[PriceCenter SAXO ALI]"
            header="====="
            body="${message}[NewPriceCenter]"
            footer="====="/>
    
    <!--<target name="Email2" xsi:type="Mail"
            smtpServer="smtp.qq.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="992097336@qq.com"
            smtpPassword="NF123456"
            enableSsl="true"
            addNewLines="true"
            from="992097336@qq.com"
            to="313215124@qq.com"
            subject="${machinename}"
            header="====="
            body="${message}[Email2]"
            footer="====="/>-->
    <target name="Email2" xsi:type="Mail"
            smtpServer="smtp.126.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUsername="vkfeng16@126.com"
            smtpPassword="nf123456"
            enableSsl="true"
            addNewLines="true"
            from="vkfeng16@126.com"
            to="313215124@qq.com"
            subject="${machinename}"
            header="====="
            body="${message}[Email2]"
            footer="====="/>
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="TraceFlie"></logger>
    <logger name="*" level="Debug" writeTo="DebugFlie"></logger>
    <logger name="*" level="Info" writeTo="InfoFile"></logger>
    <logger name="*" level="Error" writeTo="ErrorFile"></logger>
    <logger name="*" level="Warn" writeTo="ErrorFile,Email"></logger>
    <logger name="*" level="Fatal" writeTo="ErrorFile,Email2"></logger>
  </rules>
</nlog>